.careers {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom, #1f2d36, #273844, #2f4452, #375060, #405c6f);
  .career {
    border-bottom: 2px dotted #fff;
    @include md {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    padding-top: 25px;
    padding-bottom: 25px;
    .overlay {
      background-color: rgba(172, 33, 83, 1);
      .closebtn:hover {
        color: #E83978;
      }
    }
    .excerpt {
      p {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        line-height: 1.5em;
      }
    }
    &__closing {
      @include md {
        position: absolute;
        bottom: 0;
      }
      font-weight: 400;
      font-size: 33px;
      padding: 0;
      margin: 0;
      span {
        display: block;
        color: rgba(82, 92, 101, .4);
        font-weight: 700;
        font-size: 15px;
      }
    }
    &__title {
      margin-bottom: 25px;
      h2 {
        font-weight: 700;
        color: #fff;
        font-size: 55px;
      }
      p {
        color: #fff;
        font-size: 15px;
        margin-bottom: 25px;
      }
    }
    &__details {
      font-size: 17px;
      color: #fff;
    }
    .buttons {
      text-align: center;
      a {
        display: block;
        margin-top: 15px;
        @include md {
          display: inline-block;
          margin-top: 0;
        }
        background: #9F000A;
        padding: 15px 25px;
        text-transform: uppercase;
        color: #fff;
        transition: .5s;
        border-radius: 5px;
        margin-right: 7.5px;
        font-weight: 700;
        &:hover {
          background: #000;
          text-decoration: none;
        }
      }
    }
    .modal-content {
      background: #AC2153;
      color: #fff;
      border-radius: 0;
    }
    .wpcf7-submit {
      float: right;
      font-size: 14px;
      background: #E83978;
      padding: 10px 15px;
      text-transform: uppercase;
      color: #fff;
      transition: .5s;
      border-radius: 5px;
      margin-right: 7.5px;
      font-weight: 700;
      &:hover {
        background: #000;
        text-decoration: none;
      }
      button.close {
        color: #fff !important;
      }
    }
  }

  .label {
    margin-top: 7.5px;
    display: block;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 17px !important;
    text-align: left;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: none;
  }
 input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    font-weight: 700;
    padding: 10px;
  }
  .modal-body label {
    font-weight: 700;
  }
  input[type="file"] {
    border: 0;
  }
}

.career-single {
  background: url(images/careers_bg.svg) center right no-repeat #405C6F;
  color: #fff;
  @include md {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .career {
    padding-top: 50px;
    padding-bottom: 50px;
    &__closing {
      font-weight: 400;
      font-size: 33px;
      padding: 0;
      margin: 0;
      span {
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
    &__title {
      h2 {
        font-weight: 700;
        color: #fff;
        font-size: 55px;
        text-transform: uppercase;
      }
      p {
        color: #fff;
        font-size: 17px;
        margin-bottom: 25px;
      }
    }
    &__details {
      font-size: 25px;
      border-bottom: 2px dotted #fff;
      margin-bottom: 50px;
      font-style: italic;
      .content {
        text-transform: none;
        padding-top: 75px;
        font-size: 15px;
        ul {
          margin: 10px 10px 25px 0;
        }
      }
    }
    .copy {
      font-size: 16px;
      a {
        font-weight: 700;
        transition: .5s;
        color: #fff;
      }
      a:hover {
        color: #9f000b;
        text-decoration: none;
      }
    }
    .forms {
      border-left: 3px solid #6F919B;
      a {
        background: #6F919B;
        padding: 15px 25px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        transition: .5s;
        margin-bottom: 15px;
        border-radius: 5px;
        margin-right: 7.5px;
        font-weight: 700;
        display: block;
      }
      a:hover {
        text-decoration: none;
        background: #9f000b;
      }
    }
    .buttons {
      @include md {
        position: absolute;
        bottom: 0;
      }
      a {
        float: left;
        background: #E83978;
        padding: 10px 15px;
        text-transform: uppercase;
        color: #fff;
        transition: .5s;
        border-radius: 5px;
        margin-right: 7.5px;
        font-weight: 700;
        &:hover {
          background: #000;
          text-decoration: none;
        }
      }
    }
    .modal-content {
      background: #AC2153;
      color: #fff;
      border-radius: 0;
    }
    .wpcf7-submit {
      float: right;
      font-size: 14px;
      background: #E83978;
      padding: 10px 15px;
      text-transform: uppercase;
      color: #fff;
      transition: .5s;
      border-radius: 5px;
      margin-right: 7.5px;
      font-weight: 700;
      &:hover {
        background: #000;
        text-decoration: none;
      }
      button.close {
        color: #fff !important;
      }
    }
    &__right {
      border-left: 1px solid;
      border-color: rgba(26, 45, 51, .15);
      p:first-of-type {
        @include md {
          margin-bottom: 225px;
        }
      }
    }
  }

  .label {
    margin-bottom: 7.5px;
    display: block;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 17px !important;
    text-align: left;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: none;
  }
 input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    font-weight: 700;
    padding: 10px;
  }
  .modal-body label {
    font-weight: 700;
  }
  input[type="file"] {
    border: 0;
  }
}
