.contact {
  .title {
    border-bottom: 2px solid #fff;
    h1 {
      margin-bottom: 25px;
      font-size: 30px;
      font-weight: 700;
      margin-top: 0;
    }
  }
  .breadcrumbs {
    text-align: right;
    font-weight: 700;
    a {
      color: #fff;
    }
  }
  background: url(images/contact_bg.jpg) top center;
  background-size: cover;
  color: #fff;
  padding: 30px 0 50px 0;
  .contact_details {
    font-weight: 200;
    font-size: 16px;
    padding-bottom: 50px;
    border-bottom: 5px solid #fff;
    h2 {
      color: #9F000A;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 50px 0;
    }
    span {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      margin-top: 15px;
    }
    .find {
      .fb {
        height: 25px;
        margin-right: 10px;
      }
      a {
        display: block;
        margin-top: 15px;
        font-weight: 700;
      }
    }

    a {
      color: #fff;
      transition: .5s;
    }
    a:hover {
      color: #9F000A;
      text-decoration: none;
    }
  }
}

.form {
  padding: 25px 0;
  .form-control {
    padding: 20px;
  }
  .wpcf7-submit {
    background: #9F000A;
    color: #fff;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  select {
    color: #000;
    width: 100%;
    height: 40px;
  }
  .wpcf7-list-item-label {
    font-size: 12px;
    margin-left: 10px;
  }
  a.data {
    color: #fff;
    font-weight: 700;
  }
}

.add-content {
  background: #405C6F;
  color: #fff;
  padding: 50px 50px 50px 50px !important;
  h2:first-of-type {
    color: #6F919B;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  a {
    color: #6F919B;
    transition: .5s;
    font-weight: 700;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}
