.parent {
  border-bottom: 5px solid #fff;
  margin-bottom: 50px;
  h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 50px 0;
  }
  .breadcrumbs {
    text-align: right;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
  }
  a {
    color: #fff;
    transition: .5s;
  }
  a:hover {
    color: #000;
    text-decoration: none;
  }
}
