footer {
  padding-top: 30px;
  .footer {
    height: 500px;
    position: relative;
    background: url(images/footer_bg.jpg) top center no-repeat;
    background-size: cover;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          color: #1D1D24;
          transition: .5s;
          font-weight: 700;
          font-size: 16px;
          padding: 0 10px;
          border-right: 1px solid #1D1D24
        }
        a:hover {
          color: #9F000A;
          text-decoration: none;
        }
      }
      li:last-of-type {
        a {
          border-right: none;
        }
      }
      ul {
        display: none;
      }
    }
  }
  .vert-align {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  text-align: center;
  span {
    background: #9F000A;
    color: #fff;
    padding: 20px;
    font-size: 28px;
    @include md {
      font-size: 45px;
    }
    font-weight: 700;
  }
  .signature {
    background: #1d1d24;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    a {
      color: #fff;
      font-weight: 700;
    }
    .fb {
      height: 20px;
    }
    .do {
      position: absolute;
      right: 15px;
      height: 25px;
    }
  }
}
