.container-fluid.hero {
  padding-left: 0;
  padding-right: 0;
}

.hero {
  height: 100vh;
  position: relative;
  margin-top: -100px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  &__wrapper {
    background: rgba(0, 0, 0, .25);
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    .vert-align {
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);

    }
    .vert-align::before {
      content: "";
      height: 1000px;
      width: 10px;
      background: #fff;
      display: block;
      margin: 0 auto;
    }
    .vert-align::after {
      content: "";
      height: 1000px;
      width: 10px;
      background: #fff;
      display: block;
      margin: 0 auto;
    }
    .cta {
      border: 10px solid #fff;
      padding: 50px;
      border-radius: 15px;
      margin: 0 auto;
      display: inline-block;
      text-align: center;
    }
    p.heading {
      font-size: 40px;
      text-align: center;
      @include md {
        font-size: 48px;
      }
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      float: left;
    }
    p {
      font-size: 19px;
      font-weight: 300;
      text-transform: uppercase;
      float: left;
      clear: left;
    }
    a {
      display: inline-block;
      margin-top: 15px;
      margin-left: 25px;
    }
  }
}

.about {
  text-align: center;
  margin-bottom: 15px;
  .about-img {
    padding-left: 0;
    .img {
      height: 100%;
    }
  }
  .content {
    background: #405C6F;
    color: #fff;
    padding: 50px 50px;
    font-size: 18px;
    h2 {
      margin: 0 0 30px 0;
      font-weight: 700;
    }
    img {

    }
  }
}

.dealers {
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  background: url(images/map.svg) #9F000A no-repeat right center;
  padding: 75px 0;
  font-size: 55px;
  font-weight: 300;
  span {
    font-weight: 700;
  }
  a {
    background: #9F000A;
    padding: 20px;
    font-size: 20px;
    transition: .5s;
    color: #fff;
  }
  a:hover {
    background: #000;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
}

.container-fluid.fp_products {
padding-left: 0;
padding-right: 0;
}

.fp_products {
  margin-bottom: 15px;
  .product:nth-of-type(1), .product:nth-of-type(4) {
    padding-left: 0;
    padding-right: 7.5px;
  }
  .product:nth-of-type(3), .product:nth-of-type(6) {
    padding-right: 0;
    padding-left: 7.5px;
  }
  .product {
    height: 400px;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      transition: .5s;
      .vert-align {
        position: absolute;
        text-align: center;
        top: 50%;
        width: calc(100% - 30px);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    &__wrapper:hover {
      transform: scale(1.15);
    }
    h2 {
      background: #9F000A;
      color: #fff;
      padding: 25px 15px;
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      a {
        display: block;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        transition: .5s;
        padding-top: 5px;
      }
      a:hover {
        opacity: .5;
        text-decoration: none;
      }
    }
  }
}

.quote {
  text-align: center;
  margin-bottom: 15px;
  color: rgba(255,255,255,.5);
  background: #9F000A;
  font-size: 16px;
  text-align: center;
  p {
    font-size: 25px;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  font-weight: 300;
  a {
    background: #9F000A;
    padding: 20px;
    font-size: 20px;
    transition: .5s;
    color: #fff;
  }
  a:hover {
    background: #000;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  .col-md-12 {
    padding: 100px;
  }
  .col-md-12:before {
    content: "“";
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    float: left;
    line-height: .5em;
    height: 50px;
    width: 50px;
  }
  .col-md-12:after {
    content: "“";
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    float: right;
    line-height: .5em;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }
}
