.partners {
  background-image: linear-gradient(to bottom, #1f2d36, #273844, #2f4452, #375060, #405c6f);
  padding: 50px 0 50px 0;
  .filter {
    border-bottom: 5px solid #fff;
    padding-bottom: 50px;
    margin-bottom: 50px;
    width: 100%;
    &__wrapper {
      float: left;
      margin-right: 15px;
    }
    p {
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      opacity: .5;
    }
    .btn {
      background: #fff;
      border: 1px solid #BCE0FD;
      color: #000;
      width: 250px;
      text-align: left;
      padding: 15px;
      img {
        width: 15px;
        margin-left: 5px;
        float: right;
        margin-top: 5px;
        transition: .5s;
      }
    }
    .btn:hover {
      img {
        transform: rotate(180deg);
      }
    }
    .dropdown-menu {
      width: 250px;
    }
    a {
      text-transform: uppercase;
      font-weight: 300;
      transition: .5s;
      // color: #fff;
    }
    .dropdown-menu {
      a {
        text-transform: none;
        color: #000;
      }
    }
  }
  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 25px 0;
    @include md {
      margin: 0 0 50px 0;
    }
  }
  .partner:nth-of-type(odd){
    @include md {
      border-right: 2px solid rgba(255,255,255,.5);
    }
  }
  .partner {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 25px;

    h2 {
      color: #9F000A;
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    a {
      color: #fff;
      transition: .5s;
    }
    a:hover {
      // font-weight: 700;
      text-decoration: none;
      color: #9F000A;
    }
    a.maps {
      font-weight: 300;
      color: #9F000A;
      margin-bottom: 25px;
      display: inline-block;
      text-transform: uppercase;
    }
    a.maps:hover {
      color: #fff;
      // font-weight: 700;
      text-decoration: none;
    }
    strong {
      display: block;
      font-weight: 700;
      margin-top: 5px;
    }
    img {
      margin-top: 30px;
    }
  }
  .stick {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
  }
  #map {
  	width: 100%;
  	height: 100vh;
    z-index: 999999;
  }
  &__wrapper {
    // padding-top: 50px;
    padding-bottom: 50px;
  }
}
