.login #loginform {
	background: rgba(0,0,0,0.7) !important;
}

.login h1 a {
	background-image: url('../images/maximus-logo-mark.svg') !important;
    width: auto;
    background-size: contain;
    height: 150px;
}

.login #backtoblog a, .login #nav a {
	color: #fff;
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
	color: #f04b23;
}

body.login {
  background: #9F000A;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
